In [1]:
%matplotlib inline
import pandas as pd

In [2]:
students = pd.read_excel('data/get_me_working_Demogs_FS01-US16_all.xlsx')

In [3]:
students.head()

,placeholderID,Gender,Ethnicity,citizenship,First Gen,Pell eligible,permanent ZIP,Entering term code,Entering Term Major code,Entering Term Major Name,...,ap69 Calculus AB Subscore Grade,ap78 physics B,ap80 physics C Mech,ap82 physics C Physics C Electricity & Magnet,ap83 physics 1,ap84 physics 2,Entering Term Major name,Entering_term_major_type,Last_enrolled_major_type,grad_major_type
0,97758DD4-7286-4A19-BA6C-00005FE6CFA3,M,White (non-Hispanic),US Citizen,N,N,49504,FS98,3784.0,Biological Science Interdept,...,NaN,NaN,NaN,NaN,NaN,NaN,Biological Science Interdept,Other STEM,NaN,NaN
1,592FB87B-B37F-476D-B7F0-0001F057D6A6,F,White (non-Hispanic),US Citizen,N,N,22309,FS99,843.0,Music Therapy,...,NaN,NaN,NaN,NaN,NaN,NaN,Music Therapy,non STEM,NaN,NaN
2,9C41EAAC-FC57-42F9-B53F-000201BE35C3,M,White (non-Hispanic),US Citizen,N,N,48879,FS05,1069.0,General Business Admin Prelaw,...,NaN,NaN,NaN,NaN,NaN,NaN,General Business Admin Prelaw,non STEM,NaN,NaN
3,7AED7EC2-ED7F-4FE1-8270-000209CBA389,M,White (non-Hispanic),US Citizen,N,Y,49341,FS05,5151.0,No Preference,...,NaN,NaN,NaN,NaN,NaN,NaN,No Preference,No Preference,NaN,NaN
4,3C1C5E03-FA14-4F6A-B0C6-000250988C23,M,White (non-Hispanic),US Citizen,N,N,48154,FS11,2371.0,Engineering No Preference,...,NaN,NaN,NaN,NaN,NaN,NaN,Engineering No Preference,Engineering,NaN,NaN

In [4]:
courses1 = pd.read_excel('get_me_working_Classes_FS01-US16_1.xlsx')

In [5]:
courses1.head()

,placeholderID,term_seq_id,term_code,subj_code,crse_code,sctn_code,grade_code,repeat_status_flag,major code,major name,major_type,major_name
0,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1014,FS01,PHY,251,24.0,2.5,,3611.0,Earth Science,Other STEM,Earth Science
1,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,MTH,126,5.0,3.0,SR,3611.0,Earth Science,Other STEM,Earth Science
2,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,PHY,232,1.0,1.0,,3611.0,Earth Science,Other STEM,Earth Science
3,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,PHY,252,20.0,1.5,,3611.0,Earth Science,Other STEM,Earth Science
4,592FB87B-B37F-476D-B7F0-0001F057D6A6,1014,FS01,MTH,110,8.0,2.0,,4494.0,Social Work,non STEM,Social Work

In [6]:
courses2 = pd.read_excel('get_me_working_Classes_FS01-US16_2.xlsx')

In [7]:
courses2.head()

,placeholderID,term_seq_id,term_code,subj_code,crse_code,sctn_code,grade_code,repeat_status_flag,major code,major name,major_type,major_name
0,054161B5-A668-4A93-9D1F-7F81E15EB01C,1104,FS10,MTH,103,13.0,3.5,,2350.0,Electrical Engineering,Engineering,Electrical Engineering
1,054161B5-A668-4A93-9D1F-7F81E15EB01C,1106,SS11,MTH,114,2.0,3.0,,2350.0,Electrical Engineering,Engineering,Electrical Engineering
2,054161B5-A668-4A93-9D1F-7F81E15EB01C,1114,FS11,MTH,132,2.0,2.5,,2350.0,Electrical Engineering,Engineering,Electrical Engineering
3,054161B5-A668-4A93-9D1F-7F81E15EB01C,1116,SS12,MTH,133,6.0,1.0,PR,2350.0,Electrical Engineering,Engineering,Electrical Engineering
4,054161B5-A668-4A93-9D1F-7F81E15EB01C,1116,SS12,PHY,183,2.0,2.5,,2350.0,Electrical Engineering,Engineering,Electrical Engineering

In [8]:
courses = pd.concat([courses1, courses2])

In [11]:
students.count()
# drop everyone who doesn't graduate
# drop everyone who was never a physics major

placeholderID                                    158134
Gender                                           158134
Ethnicity                                        158134
citizenship                                      158134
First Gen                                        158134
Pell eligible                                    157867
permanent ZIP                                    116517
Entering term code                               156484
Entering Term Major code                         156484
Entering Term Major Name                         157296
last enrolled term                               156484
Last enrolled major code                         156484
Last enrolled major name                         156484
grad term                                         96867
grad major code                                   96867
grad major name                                  127158
other awards                                      24844
ACT_ENGL                                         120951
ACT_MATH                                         120951
ACT_READ                                         120949
ACT_SCI                                          120951
ACT_COMP                                         120951
ACT_EW                                           104181
ap66 calculus AB                                  16937
ap68 calculus BC                                   4986
ap69 Calculus AB Subscore Grade                    4936
ap78 physics B                                     2219
ap80 physics C Mech                                2489
ap82 physics C Physics C Electricity & Magnet       960
ap83 physics 1                                      384
ap84 physics 2                                       74
Entering Term Major name                         157296
Entering_term_major_type                          79188
Last_enrolled_major_type                             25
grad_major_type                                   47865
dtype: int64

In [19]:
students_drop = students.dropna(subset=['grad_major_type'])

In [60]:
# drop all students who started prior to 2001
# Y2k is a bitch

students_drop = students_drop[students_drop['Entering term code'].isin(['FS01', 'FS02', 'SS03', 'US02', 'FS03', 'SS04', 'SS11', 'SS02',
       'FS05', 'SS06', 'FS04', 'SS05', 'FS07', 'US03', 'US01', 'FS09',
       'SS10', 'SS12', 'SS13', 'FS06', 'US07', 'FS08', 'US09', 'FS10',
       'FS11', 'US12', 'US05', 'SS09', 'US04', 'SS07', 'SS08', 'US08',
       'FS12', 'US14', 'US10', 'US11', 'US13', 'FS13', 'SS14', 'FS14',
       'SS16', 'SS15', 'FS16', 'US06', 'FS15', 'US15', 'US16'])]

In [61]:
df = pd.merge(left=students_drop, right=courses, on='placeholderID')

In [62]:
df.columns

Index(['placeholderID', 'Gender', 'Ethnicity', 'citizenship', 'First Gen',
       'Pell eligible', 'permanent ZIP', 'Entering term code',
       'Entering Term Major code', 'Entering Term Major Name',
       'last enrolled term', 'Last enrolled major code',
       'Last enrolled major name', 'grad term', 'grad major code',
       'grad major name', 'other awards', 'ACT_ENGL', 'ACT_MATH', 'ACT_READ',
       'ACT_SCI', 'ACT_COMP', 'ACT_EW', 'ap66 calculus AB', 'ap68 calculus BC',
       'ap69 Calculus AB Subscore Grade', 'ap78 physics B',
       'ap80 physics C Mech', 'ap82 physics C Physics C Electricity & Magnet',
       'ap83 physics 1', 'ap84 physics 2', 'Entering Term Major name',
       'Entering_term_major_type', 'Last_enrolled_major_type',
       'grad_major_type', 'term_seq_id', 'term_code', 'subj_code', 'crse_code',
       'sctn_code', 'grade_code', 'repeat_status_flag', 'major code',
       'major name', 'major_type', 'major_name'],
      dtype='object')

In [63]:
df = df[['placeholderID', 'Gender', 'Ethnicity', 'citizenship', 'First Gen',
       'Pell eligible', 'Entering term code',
       'Entering Term Major code', 'Entering Term Major Name',
       'last enrolled term', 'Last enrolled major code',
       'Last enrolled major name', 'grad term', 'grad major code',
       'grad major name', 'Entering Term Major name',
       'Entering_term_major_type', 'Last_enrolled_major_type',
       'grad_major_type', 'term_seq_id', 'term_code', 'subj_code', 'crse_code',
       'sctn_code', 'grade_code', 'repeat_status_flag', 'major code',
       'major name', 'major_type', 'major_name']]

In [64]:
df['term_code'].unique()

array(['FS01', 'FS02', 'SS03', 'US02', 'FS03', 'SS04', 'SS11', 'SS02',
       'FS05', 'SS06', 'FS04', 'SS05', 'FS07', 'US03', 'US01', 'FS09',
       'SS10', 'SS12', 'SS13', 'FS06', 'US07', 'FS08', 'US09', 'FS10',
       'FS11', 'US12', 'US05', 'SS09', 'US04', 'SS07', 'SS08', 'US08',
       'FS12', 'US14', 'US10', 'US11', 'US13', 'FS13', 'SS14', 'FS14',
       'SS16', 'SS15', 'FS16', 'US06', 'FS15', 'US15', 'US16'], dtype=object)

In [65]:
def convert_term_code(term_code):
    """
    converts msu termcodes from string format to decimal format
    """
    semester_codes = {'SS':1, 'US':2, 'FS':3}
    
    semester = term_code[0:2]
    year = int(term_code[2:4]) + 2000

    semester_index = semester_codes[semester]
    
    return year, semester_index

for code in df['term_code'].unique():
    print('-'.join([str(c) for c in convert_term_code(code)]))
    break

2001-3

In [72]:
df['Entering term code'].apply(convert_term_code)[0]

(2001, 3)

In [75]:
df['term_code'].apply(convert_term_code)[0]

(2001, 3)

In [87]:
def current_term_index(current_term, first_term):
    """
    returns the number of terms since student first enrolled.
    """
    ft_year = first_term[0]
    ft_semester = first_term[1]
    ct_year = current_term[0]
    ct_semester = current_term[1]
    
    year_diff =  3*(ct_year - ft_year)
    semester_diff = ct_semester - ft_semester
    return year_diff + semester_diff
    
current_term_index((2012,3), (2001,2))

34

In [67]:
df['Entering term code'].unique()

array(['FS01', 'FS02', 'FS04', 'FS03', 'FS09', 'FS06', 'FS10', 'FS05',
       'FS08', 'FS12', 'FS11', 'FS13', 'SS03', 'FS07', 'SS09', 'SS10',
       'SS14', 'SS11', 'SS12', 'FS14', 'SS08', 'US11', 'US07', 'SS04',
       'SS07', 'SS05', 'SS06', 'US12', 'SS13', 'US01', 'US09', 'SS02',
       'US08', 'US14', 'US04', 'US13', 'US02', 'US10', 'US03', 'US06',
       'SS15', 'US15', 'US05', 'FS15', 'US16'], dtype=object)

In [107]:
df.loc[97]

placeholderID               B706976A-4920-4605-BA1E-8187D9865EB2
Gender                                                         F
Ethnicity                                   White (non-Hispanic)
citizenship                                           US Citizen
First Gen                                                      N
Pell eligible                                                  N
Entering term code                                          FS09
Entering Term Major code                                    4731
Entering Term Major Name                                    4731
last enrolled term                                          4731
Last enrolled major code                                    4731
Last enrolled major name                                    4731
grad term                                                   SS12
grad major code                                             1267
grad major name                                         Finance
Entering Term Major name                                    4731
Entering_term_major_type                                     NaN
Last_enrolled_major_type                                     NaN
grad_major_type                                       Other STEM
term_seq_id                                                 1084
term_code                                                   FS08
subj_code                                                    MTH
crse_code                                                    110
sctn_code                                                    NaN
grade_code                                                    WV
repeat_status_flag                                           NaN
major code                                                  4731
major name                                            Economics
major_type                                              non STEM
major_name                                            Economics
Name: 97, dtype: object

In [95]:
semester_index = df.apply(lambda row: current_term_index(convert_term_code(row['term_code']), convert_term_code(row['Entering term code'])), axis=1)

In [109]:
df['semester_index'] = semester_index

In [134]:
import numpy as np

In [136]:
df_datas = df[df.semester_index.between(0, 4)].pivot_table(index='placeholderID', columns='semester_index', values='major_type', aggfunc=np.max)

In [137]:
df_datas.to_csv('data/alluvial_test.csv', index=False)