In [ ]:
%matplotlib inline
import sys 
sys.path.append('..')
import pandas as pd
from parse_raw_data import *
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
courses = pd.read_excel('data/61331_Classes_FS01-US16_part1.xlsx')

In [ ]:
students = pd.read_excel('data/61331_Demogs_FS01-US16_part1.xlsx')

In [ ]:
#calculate z score
courses.groupby('grade_code').count()

In [ ]:
# def convert_grade_to_float(grade):
#     """
#     converts the provided string grade to a float
#     replaces non-numeric grades with nans
    
#     grade : str
#     return : float
#     """
    
#     try:
#         grade = np.float64(grade)
#     except ValueError:
#         grade = np.nan
        
#     return grade

In [ ]:
courses['grade_float'] = courses.grade_code.apply(convert_grade_to_float)

In [ ]:
courses['z_score'] = courses.groupby(['term_code', 'subj_code', 'crse_code', 'sctn_code'])['grade_float'].apply(calc_z_score)

In [ ]:
courses.groupby('grade_float').count()

In [ ]:
fig, ax = plt.subplots()

courses[courses.crse_code=='183'].groupby('major name').mean().plot(kind='scatter', x='grade_float', y='z_score', alpha=0.5
                                                                   ,ax=ax)

In [10]:
# merge everything into one big table
df = pd.merge(left=students, right=courses, how='left', on='placeholderID')

In [15]:
# remove everything prior to 2000
df['Entering term code'].unique()

array(['FS98', 'FS99', 'FS05', 'FS11', 'FS14', 'FS06', 'FS03', 'FS15',
       'SS02', 'FS01', 'FS16', 'FS02', 'FS07', 'FS08', 'FS09', 'FS13',
       'SS12', 'FS12', 'FS10', 'SS09', 'FS04', 'SS16', 'US16', 'FS00',
       'SS06', 'SS15', 'SS04', 'FS92', 'SS05', 'FS97', 'SS13', 'US09',
       'US05', 'SS14', 'SS07', 'SS08', 'US10', 'SS10', nan, 'US13', 'FS96',
       'US04', 'FQ72', 'SS00', 'SS11', 'US12', 'US08', 'SS03', 'FS93',
       'US11', 'US02', 'SS01', 'FQ77', 'US07', 'US03', 'SS17', 'US99',
       'SS94', 'FS95', 'US15', 'SS96', 'SS98', 'US14', 'WQ90', 'SS99',
       'FQ69', 'FQ83', 'US06', 'US01', 'UQ77', 'FQ87', 'FS94', 'US00',
       'FQ88', 'UQ76', 'WQ81', 'US95', 'SS97', 'UQ89', 'FQ89', 'US97',
       'FQ80', 'FQ90', 'FQ79', 'FQ86', 'FQ91', 'US98', 'FQ84', 'FQ76',
       'FQ82', 'FQ85', 'FQ81', 'FQ75', 'WQ84', 'SS95', 'FQ71', 'US93',
       'SQ82', 'WQ89', 'SQ79', 'SS93', 'WQ69', 'FQ73', 'US94', 'FQ78',
       'US96', 'WQ92', 'WQ71'], dtype=object)

In [13]:
# update courses
df[0:3].apply(lambda row: current_term_index(first_term=convert_term_code(row['Entering term code'])
                                            ,current_term=convert_term_code(row['term_code'])), axis=1)

0   -291
1   -290
2   -290
dtype: int64

In [ ]:
# update students

In [6]:
courses.head()

,placeholderID,term_seq_id,term_code,subj_code,crse_code,sctn_code,grade_code,repeat_status_flag,major code,major name
0,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1014,FS01,PHY,251,24.0,2.5,,3611.0,Earth Science
1,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,MTH,126,5.0,3.0,SR,3611.0,Earth Science
2,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,PHY,232,1.0,1.0,,3611.0,Earth Science
3,97758DD4-7286-4A19-BA6C-00005FE6CFA3,1016,SS02,PHY,252,20.0,1.5,,3611.0,Earth Science
4,592FB87B-B37F-476D-B7F0-0001F057D6A6,1014,FS01,MTH,110,8.0,2.0,,4494.0,Social Work

In [7]:
students.head()

,placeholderID,Gender,Ethnicity,citizenship,First Gen,Pell eligible,permanent ZIP,Entering term code,Entering Term Major code,Entering Term Major Name,...,ACT_COMP,ACT_EW,ap66 calculus AB,ap68 calculus BC,ap69 Calculus AB Subscore Grade,ap78 physics B,ap80 physics C Mech,ap82 physics C Physics C Electricity & Magnet,ap83 physics 1,ap84 physics 2
0,97758DD4-7286-4A19-BA6C-00005FE6CFA3,M,White (non-Hispanic),US Citizen,N,N,49504,FS98,3784.0,Biological Science Interdept,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,592FB87B-B37F-476D-B7F0-0001F057D6A6,F,White (non-Hispanic),US Citizen,N,N,22309,FS99,843.0,Music Therapy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9C41EAAC-FC57-42F9-B53F-000201BE35C3,M,White (non-Hispanic),US Citizen,N,N,48879,FS05,1069.0,General Business Admin Prelaw,...,26.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7AED7EC2-ED7F-4FE1-8270-000209CBA389,M,White (non-Hispanic),US Citizen,N,Y,49341,FS05,5151.0,No Preference,...,22.0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3C1C5E03-FA14-4F6A-B0C6-000250988C23,M,White (non-Hispanic),US Citizen,N,N,48154,FS11,2371.0,Engineering No Preference,...,26.0,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN